.App {
    padding: 20px;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    
}


.subm {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.priority {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.priority h1 {
    font-size: large;
    margin-left: 5px;
}

.length {
    font-size: medium;
}

.picon {
    font-size: large;
    font-weight: bold;
}

.user-p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userName {
    font-size: large;
    margin-left: 10px;
}

.userName span {
    font-weight: normal;
    font-size: smaller;
    margin-left: 5px;
}

.img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
    color: white;
    position: relative; 
  }
  
  .initials {
    text-transform: uppercase;
  }

  .status-p {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #fff;
  }
  
  .status-p.online {
    background-color: #E9B602;
}
  
  .status-p.offline {
    background-color: #DFE1E4;
}

.substatus {display: flex;
    flex-direction: row;
    align-items: center;
}
  